/**add 20170417**/
	@font-face {
	  font-family: 'meepo';
	  src:  url('../../../resource/fonts/meepo.ttf?t17boq') format('truetype');
	  font-weight: normal;
	  font-style: normal;
	}

[class^="meepo-"], [class*=" meepo-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'meepo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.meepo-pause:before {
  content: "\e600";
}
.meepo-prev:before {
  content: "\e601";
}
.meepo-first:before {
  content: "\e602";
}
.meepo-fullscreen:before {
  content: "\e603";
}
.meepo-vote2:before {
  content: "\e605";
}
.meepo-heart:before {
  content: "\e606";
}
.meepo-Pin:before {
  content: "\e607";
}
.meepo-picwall:before {
  content: "\e608";
}
.meepo-info:before {
  content: "\e609";
}
.meepo-guest2:before {
  content: "\e60a";
}
.meepo-Pin2:before {
  content: "\e60b";
}
.meepo-dan:before {
  content: "\e60c";
}
.meepo-pics:before {
  content: "\e60d";
}
.meepo-pie:before {
  content: "\e60e";
}
.meepo-preview:before {
  content: "\e60f";
}
.meepo-rush:before {
  content: "\e610";
}
.meepo-set:before {
  content: "\e611";
}
.meepo-setter:before {
  content: "\e612";
}
.meepo-total:before {
  content: "\e613";
}
.meepo-user-add:before {
  content: "\e614";
}
.meepo-users:before {
  content: "\e615";
}
.meepo-shake2:before {
  content: "\e616";
}
.meepo-guest22:before {
  content: "\e617";
}
.meepo-bigscreen2:before {
  content: "\e618";
}
.meepo-qrcode:before {
  content: "\e619";
}
.meepo-mobileset:before {
  content: "\e61a";
}
.meepo-ppt:before {
  content: "\e61b";
}
.meepo-pic:before {
  content: "\e61c";
}
.meepo-msg-much:before {
  content: "\e61d";
}
.meepo-msg-empty:before {
  content: "\e61e";
}
.meepo-msg2:before {
  content: "\e61f";
}
.meepo-gift:before {
  content: "\e620";
}
.meepo-error2:before {
  content: "\e621";
}
.meepo-edit-xi:before {
  content: "\e622";
}
.meepo-edit:before {
  content: "\e623";
}
.meepo-copy2:before {
  content: "\e624";
}
.meepo-check:before {
  content: "\e625";
}
.meepo-chart:before {
  content: "\e626";
}
.meepo-arrow:before {
  content: "\e627";
}
.meepo-add2:before {
  content: "\e628";
}
.meepo-boy:before {
  content: "\e800";
}
.meepo-computer:before {
  content: "\e801";
}
.meepo-fingerprint:before {
  content: "\e802";
}
.meepo-geder:before {
  content: "\e803";
}
.meepo-girl:before {
  content: "\e804";
}
.meepo-mail:before {
  content: "\e805";
}
.meepo-mark:before {
  content: "\e806";
}
.meepo-qq:before {
  content: "\e807";
}
.meepo-radio-f:before {
  content: "\e808";
}
.meepo-radio-t:before {
  content: "\e809";
}
.meepo-tell:before {
  content: "\e80a";
}
.meepo-user2:before {
  content: "\e80b";
}
.meepo-selected:before {
  content: "\e80c";
}
.meepo-mstching:before {
  content: "\e80d";
}
.meepo-money:before {
  content: "\e80e";
}
.meepo-phone:before {
  content: "\e900";
}
.meepo-threed:before {
  content: "\e901";
}
.meepo-company:before {
  content: "\e902";
}
.meepo-shopcar:before {
  content: "\e903";
}
.meepo-dataCount:before {
  content: "\e904";
}
.meepo-control:before {
  content: "\e905";
}
.meepo-msgreview:before {
  content: "\e906";
}
.meepo-notification:before {
  content: "\e907";
}
.meepo-light:before {
  content: "\e908";
}
.meepo-newadd:before {
  content: "\e909";
}
.meepo-msgRadius:before {
  content: "\e90a";
}
.meepo-fans:before {
  content: "\e90b";
}
.meepo-bg:before {
  content: "\e90c";
}
.meepo-delete:before {
  content: "\e90d";
}
.meepo-redo:before {
  content: "\e90e";
}
.meepo-reredo:before {
  content: "\e90f";
}
.meepo-save:before {
  content: "\e910";
}
.meepo-scan:before {
  content: "\e911";
}
.meepo-text:before {
  content: "\e912";
}
.meepo-upload:before {
  content: "\e913";
}
.meepo-add:before {
  content: "\e914";
}
.meepo-code:before {
  content: "\e915";
}
.meepo-control2:before {
  content: "\e916";
}
.meepo-copy:before {
  content: "\e917";
}
.meepo-count:before {
  content: "\e918";
}
.meepo-delete2:before {
  content: "\e919";
}
.meepo-end:before {
  content: "\e91a";
}
.meepo-error:before {
  content: "\e91b";
}
.meepo-function:before {
  content: "\e91c";
}
.meepo-ing:before {
  content: "\e91d";
}
.meepo-msgNum:before {
  content: "\e91e";
}
.meepo-newFans:before {
  content: "\e91f";
}
.meepo-notYet:before {
  content: "\e920";
}
.meepo-openTab:before {
  content: "\e921";
}
.meepo-openTab1:before {
  content: "\e922";
}
.meepo-peopleNum:before {
  content: "\e923";
}
.meepo-screen:before {
  content: "\e924";
}
.meepo-screenDesign:before {
  content: "\e925";
}
.meepo-setting:before {
  content: "\e926";
}
.meepo-user:before {
  content: "\e927";
}
.meepo-shakeprize--bak2:before {
  content: "\e928";
}
.meepo-bigscreen:before {
  content: "\e929";
}
.meepo-control22:before {
  content: "\e92a";
}
.meepo-shakeprize-bak1:before {
  content: "\e92b";
}
.meepo-basic:before {
  content: "\e92c";
}
.meepo-danmu:before {
  content: "\e92d";
}
.meepo-lottery:before {
  content: "\e92e";
}
.meepo-guest:before {
  content: "\e92f";
}
.meepo-photo:before {
  content: "\e930";
}
.meepo-signin:before {
  content: "\e931";
}
.meepo-vote:before {
  content: "\e932";
}
.meepo-user-safe:before {
  content: "\e933";
}
.meepo-user-under:before {
  content: "\e934";
}
.meepo-flug:before {
  content: "\e935";
}
.meepo-out-cont:before {
  content: "\e936";
}
.meepo-publish:before {
  content: "\e937";
}
.meepo-basic2:before {
  content: "\e938";
}
.meepo-list:before {
  content: "\e939";
}
.meepo-logowall:before {
  content: "\e93a";
}
.meepo-design:before {
  content: "\e93b";
}
.meepo-shop:before {
  content: "\e93c";
}
.meepo-double-heart:before {
  content: "\e93d";
}
.meepo-double-balloon:before {
  content: "\e93e";
}
.meepo-bankbook:before {
  content: "\e93f";
}
.meepo-mike:before {
  content: "\e940";
}
.meepo-bachelor:before {
  content: "\e941";
}
.meepo-circlegroup:before {
  content: "\e942";
}
.meepo-trophy:before {
  content: "\e943";
}
.meepo-qqicon:before {
  content: "\e944";
}
.meepo-xin:before {
  content: "\e945";
}
.meepo-xlang:before {
  content: "\e946";
}
.meepo-du:before {
  content: "\e947";
}
.meepo-blank-email:before {
  content: "\e948";
}
.meepo-arrow-r:before {
  content: "\e949";
}
.meepo-arrow-l:before {
  content: "\e94a";
}
.meepo-qqicon2:before {
  content: "\e94b";
}
.meepo-notemsg:before {
  content: "\e94c";
}
.meepo-lock:before {
  content: "\e94d";
}
.meepo-user-rg:before {
  content: "\e94e";
}
.meepo-msg-use:before {
  content: "\e94f";
}
.meepo-entity-qq:before {
  content: "\e950";
}
.meepo-wei-icon:before {
  content: "\e951";
}
.meepo-sina-share:before {
  content: "\e952";
}
.meepo-signin2:before {
  content: "\e953";
}
.meepo-signin-control:before {
  content: "\e954";
}
.meepo-export:before {
  content: "\e955";
}
.meepo-crumbs:before {
  content: "\e956";
}
.meepo-people-num:before {
  content: "\e957";
}
.meepo-refresh:before {
  content: "\e958";
}
.meepo-search:before {
  content: "\e959";
}
.meepo-shakeprize:before {
  content: "\e95a";
}
.meepo-shake:before {
  content: "\e95b";
}
.meepo-all-tag:before {
  content: "\e95c";
}
.meepo-personalize:before {
  content: "\e95d";
}
.meepo-share:before {
  content: "\e95e";
}
.meepo-developname:before {
  content: "\e95f";
}
.meepo-clock:before {
  content: "\e960";
}
.meepo-calendar:before {
  content: "\e961";
}
.meepo-redpacker:before {
  content: "\e962";
}
.meepo-stars:before {
  content: "\e963";
}
.meepo-penfour:before {
  content: "\e964";
}
.meepo-filepack:before {
  content: "\e965";
}
.meepo-imgcode:before {
  content: "\e966";
}
.meepo-reward:before {
  content: "\e967";
}
.meepo-wallet:before {
  content: "\e968";
}
.meepo-rankico:before {
  content: "\e969";
}
.meepo-like:before {
  content: "\e96a";
}
.meepo-webacount:before {
  content: "\e96b";
}
.meepo-scan-again:before {
  content: "\e96c";
}
.meepo-tight:before {
  content: "\e96d";
}
.meepo-wallet2:before {
  content: "\e96e";
}
.meepo-end2:before {
  content: "\e96f";
}
.meepo-holdscreen:before {
  content: "\e970";
}
.meepo-search2:before {
  content: "\e986";
}
.meepo-bootuser:before {
  content: "\f007";
}
.meepo-download:before {
  content: "\f019";
}
.meepo-arrow-circle-o-bottom:before {
  content: "\f01a";
}
.meepo-arrow-circle-o-top:before {
  content: "\f01b";
}
.meepo-bootplay:before {
  content: "\f01d";
}
.meepo-prv:before {
  content: "\f048";
}
.meepo-toFirst:before {
  content: "\f049";
}
.meepo-fastback:before {
  content: "\f04a";
}
.meepo-plays:before {
  content: "\f04b";
}
.meepo-suspend:before {
  content: "\f04c";
}
.meepo-stop:before {
  content: "\f04d";
}
.meepo-fastIn:before {
  content: "\f04e";
}
.meepo-to-last:before {
  content: "\f050";
}
.meepo-to-next:before {
  content: "\f051";
}
.meepo-ban:before {
  content: "\f05e";
}
.meepo-arrow-lf:before {
  content: "\f060";
}
.meepo-arrow-lr:before {
  content: "\f061";
}
.meepo-arrow-top:before {
  content: "\f062";
}
.meepo-arrow-bottom:before {
  content: "\f063";
}
.meepo-bootmsg:before {
  content: "\f086";
}
.meepo-weight-l:before {
  content: "\f0a8";
}
.meepo-weight-r:before {
  content: "\f0a9";
}
.meepo-weight-t:before {
  content: "\f0aa";
}
.meepo-weight-b:before {
  content: "\f0ab";
}
.meepo-arrow-circle-o-right:before {
  content: "\f18e";
}
.meepo-arrow-circle-o-left:before {
  content: "\f190";
}
.meepo-arrow-down:before {
  content: "\e971";
}
.red{color:Red}