			
			<div class="footer">
				<div class="footer-inner">
					<!-- #section:basics/footer -->
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">现场活动大屏幕系统</span>
							<a href="{$wall_config['copyrightlink']}">{$wall_config['copyright']}</a> &copy; 2016-2020
						</span>
						&nbsp; &nbsp;
						<span class="action-buttons">
							<a href="https://mp.weixin.qq.com/"  target="_blank">
								公众号平台
							</a>

							<a href="http://cli.im/" target="_blank">
								二维码生成工具
							</a>
						</span>
					</div>

					<!-- /section:basics/footer -->
				</div>
			</div>
			
			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
			<div id="editpasswordform" class="modal" tabindex="-1">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h4 class="blue bigger">修改管理员密码</h4>
											</div>

											<div class="modal-body">
											<div class="row">
											<!-- #section:elements.tab -->
											<div class="well">
											<div class="form-group">
													<label >原密码：</label>
													<div>
														<input type="password" name="oldpwd"   placeholder="请输入原密码" value="" style="width:80%;"/>
													</div>
												</div>
												<div class="form-group">
													<label >新密码：</label>
													<div>
														<input type="password" name="newpwd"   placeholder="请输入新密码" value="" style="width:80%;"/>
													</div>
												</div>
															<div class="form-group">
																<label >确认密码：</label>
																<div>
																	<input type="password" name="validpwd" placeholder="请输入再次输入新密码" value="" style="width:80%;"/>
																</div>
															</div>
											</div>
										<!-- /section:elements.tab -->
											</div>
												
											</div>

											<div class="modal-footer">
												<input type="hidden" name="index" value="-1" />
												<button class="btn btn-sm" data-dismiss="modal">
													<i class="ace-icon fa fa-times"></i>
													取消
												</button>

												<button class="btn btn-sm btn-primary btn-save-password">
													<i class="ace-icon fa fa-check"></i>
													保存
												</button>
											</div>
										</div>
									</div>
								</div>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="{$ace_path}/components/jquery/dist/jquery.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="{$ace_path}/components/jquery.1x/dist/jquery.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{$ace_path}/components/_mod/jquery.mobile.custom/jquery.mobile.custom.js'>"+"<"+"/script>");
		</script>
		<script src="{$ace_path}/components/bootstrap/dist/js/bootstrap.js"></script>
		<!-- <script src="{$ace_path}/components/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"></script> -->
		<script src="{$ace_path}/components/bootstrap-colorpicker-2.5.2/dist/js/bootstrap-colorpicker.min.js"></script>
		<!-- page specific plugin scripts -->

		<!-- ace scripts -->
		<script src="{$ace_path}/assets/js/src/elements.scroller.js"></script>
		<script src="{$ace_path}/assets/js/src/elements.colorpicker.js"></script>
		<script src="{$ace_path}/assets/js/src/elements.fileinput.js"></script>
		<script src="{$ace_path}/assets/js/src/elements.typeahead.js"></script>
		<script src="{$ace_path}/assets/js/src/elements.wysiwyg.js"></script>
		<script src="{$ace_path}/assets/js/src/elements.spinner.js"></script>
		<script src="{$ace_path}/assets/js/src/elements.treeview.js"></script>
		<script src="{$ace_path}/assets/js/src/elements.wizard.js"></script>
		<script src="{$ace_path}/assets/js/src/elements.aside.js"></script>
		<script src="{$ace_path}/assets/js/src/ace.js"></script>
		<script src="{$ace_path}/assets/js/src/ace.basics.js"></script>
		<script src="{$ace_path}/assets/js/src/ace.scrolltop.js"></script>
		<script src="{$ace_path}/assets/js/src/ace.ajax-content.js"></script>
		<script src="{$ace_path}/assets/js/src/ace.touch-drag.js"></script>
		<script src="{$ace_path}/assets/js/src/ace.sidebar.js"></script>
		<script src="{$ace_path}/assets/js/src/ace.sidebar-scroll-1.js"></script>
		<script src="{$ace_path}/assets/js/src/ace.submenu-hover.js"></script>
		<script src="{$ace_path}/assets/js/src/ace.widget-box.js"></script>
		<script src="{$ace_path}/assets/js/src/ace.settings.js"></script>
		<script src="{$ace_path}/assets/js/src/ace.settings-rtl.js"></script>
		<script src="{$ace_path}/assets/js/src/ace.settings-skin.js"></script>
		<script src="{$ace_path}/assets/js/src/ace.widget-on-reload.js"></script>
		<script src="{$ace_path}/assets/js/src/ace.searchbox-autocomplete.js"></script>
		<script type="text/javascript">
		{literal}
		jQuery(function($){
			$('.openeditpasswordform').bind('click',function(){
				$('#editpasswordform').modal('show');
			});
			$('.btn-save-password').bind('click',function(){
				var oldpwd=$('input[name=oldpwd]').val();
				var newpwd=$('input[name=newpwd]').val();
				var validpwd=$('input[name=validpwd]').val();
				$.ajax({
					'url':'doindex.php?action=changepwd',
					'type':'post',
					'dataType':'json',
					'data':{'oldpwd':oldpwd,'newpwd':newpwd,'validpwd':validpwd},
					'success':function(json){
						alert(json.message);
						return false;
					}
				})
			})
		})
		{/literal}
		</script>
