{include file="templates/html_header.html"}
		<!-- /section:basics/navbar.layout -->
		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
			{literal}
				try{ace.settings.loadState('main-container')}catch(e){}
			{/literal}
			</script>
			<!-- #section:basics/sidebar -->
			{include file="templates/html_sidebar.html"}
			<!-- /section:basics/sidebar -->
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="index.php">首页</a>
							</li>

							<li>
								<a href="#">幸运号码</a>
							</li>
							<li class="active">{$title}</li>
						</ul><!-- /.breadcrumb -->
						<!-- /section:basics/content.searchbox -->
					</div>

					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
					<h3 class="header smaller lighter blue">
						{$title}
						<small>幸运号码中奖记录和内定设置</small>
					</h3>
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
									<div class="widget-box widget-color-blue" id="widget-box-2">
										<div class="widget-header">
											<h5 class="widget-title bigger lighter">
												<i class="ace-icon fa fa-users"></i>
												幸运号码中奖记录和内定列表
											</h5>
											<div class="widget-toolbar no-border">
												<label>
												<button class="btn btn-xs btn-warning btn_add" onclick="clearlucknum()">清除中奖记录</button>
												</label>
												
											</div>
										</div>
										<div class="widget-body">
													<div class="widget-main no-padding">
														<table class="table table-striped table-bordered table-hover">
															<thead class="thin-border-bottom">
																<tr>
																	<th>
																		中奖顺序
																	</th>
																	<th>
																		中奖号码
																	</th>
														
																	<th >操作</th>
																</tr>
															</thead>

															<tbody>
															{foreach $xingyunhaoma $item}

																<tr id="item{$item['id']}">
																	<td class="ordernum">{$item['ordernum']}</td>
																	<td class="lucknum">{$item['lucknum']}</td>
																	<td >
																		<a href="###" onclick="del('{$item['id']}')"><span class="label label-danger">删除...</span></a>
																	</td>
																</tr>
															{/foreach}
															</tbody>
														</table>
													</div>
											{$pagehtml}
												</div>
										
									</div>
									
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
{include file="templates/html_footercontent.html"}
<!-- 写每个页面自定的js -->
<script type="text/javascript">
{literal}
function clearlucknum(){
	if(!confirm('确认要清空中奖记录吗？'))return false;
	$.ajax({
		"url":"doxingyunhaoma.php?action=clearlucknum",
		"type":"get",
		"dataType":"json",
		"success":function(json){
			alert(json.message);
			if(json.code>0){
				window.location.reload();
			}
		}
	});
}
function del(id){
	if(!confirm('确认要删除这条记录吗？'))return false;
	$.ajax({
		"url":"doxingyunhaoma.php?action=deletelucknum",
		"type":"post",
		"data":{"id":id},
		"dataType":"json",
		"success":function(json){
			alert(json.message);
			if(json.code>0){
				window.location.reload();
			}
		}
	});
}
{/literal}
</script>
{include file="templates/html_footer.html"}