<!--
    设置背景图
    设置背景音乐

    系统文字颜色
-->
<style>
        {literal}
        .uploader-list .item{
            height: 167px;
            width: 300px;
            border: 1px dotted;
        }
        .btn-selectfile{
            margin-top: 60px;
            margin-left: 60px;
        }
        {/literal}
        </style>
        <div class="row">
            <div class="col-sm-12">
                <form class="form-horizontal" role="form">
                    <!--文字颜色-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" >文字颜色：</label>
                        <div class="col-sm-9">
                            <div id="fontcolor" class="input-group colorpicker-component">
                                <input type="text" value="" name="fontcolor" class="form-control" />
                                <span class="input-group-addon"><i></i></span>
                            </div>
                        </div>
                    </div>
                    <!--奖品名称颜色-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" >奖品名称颜色：</label>
                        <div class="col-sm-9">
                            <div id="prizefontcolor" class="input-group colorpicker-component">
                                <input type="text" value="" name="prizefontcolor" class="form-control" />
                                <span class="input-group-addon"><i></i></span>
                            </div>
                            
                        </div>
                    </div>
                    <!--表头背景色-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" >表头背景色：</label>
                        <div class="col-sm-9">
                            <div id="tabletitlecolor" class="input-group colorpicker-component">
                                <input type="text" value="" name="tabletitlecolor" class="form-control" />
                                <span class="input-group-addon"><i></i></span>
                            </div>
                        </div>
                    </div>
                     <!--表头文字背景色-->
                     <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" >表头文字背景色：</label>
                        <div class="col-sm-9">
                            <div id="tabletitlefontcolor" class="input-group colorpicker-component">
                                <input type="text" value="" name="tabletitlefontcolor" class="form-control" />
                                <span class="input-group-addon"><i></i></span>
                            </div>
                        </div>
                    </div>
                    <!--中奖信息背景色-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" >获奖名单背景：</label>
                        <div class="col-sm-9">
                            <div id="tablecolor" class="input-group colorpicker-component">
                                <input type="text" value="" name="tablecolor" class="form-control" />
                                <span class="input-group-addon"><i></i></span>
                            </div>
                        </div>
                    </div>
                    <!--中奖信息文字颜色-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" >获奖名单文字颜色：</label>
                        <div class="col-sm-9">
                            <div id="tablefontcolor" class="input-group colorpicker-component">
                                <input type="text" value="" name="tablefontcolor" class="form-control" />
                                <span class="input-group-addon"><i></i></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" >背景音乐：</label>
                        <div class="col-sm-9">
                            <label style="margin-top:9px;">
                                <input name="bgmusic_switch" class="ace ace-switch" type="checkbox" value="1"/>
                                <span class="lbl"></span>
                            </label>
                        </div>
                    </div>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info btn-savethemesettings" type="button">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                保存
                            </button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="col-xs-12">
                            <label class="control-label no-padding-right" >背景图：</label>
                        </div>
                        <div class="col-xs-12">
                            <div  class="bguploader">
                                <!--用来存放文件信息-->
                                <div  class="uploader-list">
                                    <div class="item">
                                        <div class="btn-selectfile"><i class="fa fa-folder-open-o"></i>点击此处选择文件</div>
                                    </div>
                                </div>
                                <div class="btns">
                                    <input type="hidden" name="key" value="bg"/>
                                    <input type="hidden" name="val" value=""/>
                                    <button  class="btn btn-primary btn-upload">保存</button>
                                    <button  class="btn btn-default btn-reset">重置</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12  col-md-6">
                        <div class="col-xs-12 ">
                            <label class="control-label no-padding-right" >背景音乐：</label>
                        </div>
                        <div class="col-xs-12">
                            <div  class="bgmusicuploader">
                                <div  class="uploader-list">
                                    <div  class="item">
                                        <div class="btn-selectfile"><i class="fa fa-folder-open-o"></i>点击此处选择背景音乐</div>
                                    </div>
                                </div>
                                <div class="btns">
                                    <input type="hidden" name="key" value="bgmusic"/>
                                    <input type="hidden" name="val" value=""/>
                                    <button  class="btn btn-primary btn-upload">保存</button>
                                    <button  class="btn btn-default btn-reset">重置</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        var settings={$settings};
        {literal}
        var admin_snippets_themesettings=function(id){
            var btn_savethemesettings=$('.btn-savethemesettings');
            var bguploader=$('.bguploader');
            var bgmusicuploader=$('.bgmusicuploader');
            var configid=id;
            function bindBtns(){
                btn_savethemesettings.on('click',function(){
                    ajaxSaveThemeSettings().done(function(json){
                        if(json.code>0){
                            admin_index.reloadTab('#lotterytheme',id);
                        }else{
                            alert(json.message);
                        }
                    })
                });
            }
    
            function ajaxSaveThemeSettings(){
                var fontcolor=$('input[name=fontcolor]').val();
                var prizefontcolor=$('input[name=prizefontcolor]').val();
                var tabletitlecolor=$('input[name=tabletitlecolor]').val();
                var tabletitlefontcolor=$('input[name=tabletitlefontcolor]').val();
                var tablecolor=$('input[name=tablecolor]').val();
                var tablefontcolor=$('input[name=tablefontcolor]').val();
                var bgmusic_switch=$('input[name=bgmusic_switch]:checked').val()==1?1:2;

                   
                return $.ajax({
                    "url":"/Modules/module.php?m=importlottery&c=admin&a=ajaxSaveThemeSettings",
                    "data":{'id':configid,'fontcolor':fontcolor,'prizefontcolor':prizefontcolor,'tabletitlecolor':tabletitlecolor,'tabletitlefontcolor':tabletitlefontcolor,'tablecolor':tablecolor,'tablefontcolor':tablefontcolor,'bgmusic_switch':bgmusic_switch},
                    "type":"post",
                    "dataType":'json'
                })
            }
        
            
            function createImageUploader(){
                var ratio = window.devicePixelRatio || 1;
                var thumbnailWidth = 300 * ratio;
                var thumbnailHeight = 167 * ratio;
                // bguploader
                var ctrl_uploader=WebUploader.create({
                    swf:'/assets/plugs/webuploader-0.1.5/Uploader.swf',
                    server:'module.php?m=importlottery&c=admin&a=ajaxSaveThemeConfigFile',
                    pick:{'id':bguploader.find('.btn-selectfile'),multiple:false},
                    resize: false,
                    fileNumLimit:1,
                    formData:{"val":bguploader.find('input[name=val]').val(),'key':bguploader.find('input[name=key]').val(),"configid":configid},//self.find('input[name=val]').val()
                    duplicate:true,
                    accept:{
                        mimeTypes:'image/jpg,image/jpeg,image/png,video/mp4',
                    }
                });
                ctrl_uploader.on( 'fileQueued', function( file ) {
                    if('image/jpg,image/jpeg,image/png'.indexOf(file.type)===-1){
                        var img=$("<img src='/assets/images/icons/video_file.png' style='width:300px;height:167px;'/>");
                        bguploader.find('.uploader-list .item').append(img);
                    }else{
                        var img=$("<img/>");
                        bguploader.find('.uploader-list .item').append(img);
                        this.makeThumb(file,function(error,src){
                            if ( error ) {
                                img.replaceWith('<span>不能预览</span>');
                                return;
                            }
                            img.attr( 'src', src );
                            img.css({'max-width':'300px','width':'300px' ,'max-height':'167px'});
                        },thumbnailWidth, thumbnailHeight);
                    }
                });
                //加入队列前 先清空队列中的内容
                ctrl_uploader.on('beforeFileQueued',function(file){
                    this.reset();
                    bguploader.find('.uploader-list .item').html('');
                });
                ctrl_uploader.on('uploadSuccess',function(file,response){
                    alert(response.message);
                    admin_index.reloadTab('#lotterytheme',configid);
                });
                bguploader.find('.btn-upload').on('click',function(){
                    ctrl_uploader.upload();
                });
                bguploader.find('.btn-reset').on('click',function(){
                    bguploader.find('input[name=val]').val('0');
                    bguploader.find('.uploader-list .item').html('<div class="btn-selectfile"><i class="fa fa-folder-open-o"></i>点击此处选择文件</div>');
                    ctrl_uploader.addButton({
                        'id':bguploader.find('.uploader-list .btn-selectfile'),
                    });
                    $.ajax({
                        'url':'module.php?m=importlottery&c=admin&a=ajaxSaveThemeConfigFile',
                        "data":{"val":bguploader.find('input[name=val]').val(),'key':bguploader.find('input[name=key]').val(),"configid":configid},
                        "type":"post",
                        "dataType":'json'
                    });
                });
                if(parseInt(settings.bg)>0){
                    if(settings.bg_path.indexOf('.mp4')===-1){
                        bguploader.find('.uploader-list .item').html("<img src='"+settings.bg_path+"' style='width:300px;height:167px;'/>");
                    }else{
                        bguploader.find('.uploader-list .item').html('<video src="'+settings.bg_path+'" style="object-fit:fill;max-width:300px;height:auto;max-height:167px;" autoplay="autoplay" autobuffer autoloop loop controls="controls"  ></video>');
                    }
                    bguploader.find('input[name=val]').val(settings.bg);
                }
            }
            function createMusicUploader(){
                var ctrl_uploader=WebUploader.create({
                    swf:'/assets/plugs/webuploader-0.1.5/Uploader.swf',
                    server:'module.php?m=importlottery&c=admin&a=ajaxSaveThemeConfigFile',
                    pick:{'id':bgmusicuploader.find('.btn-selectfile'),multiple:false},
                    resize: false,
                    fileNumLimit:1,
                    formData:{"val":bgmusicuploader.find('input[name=val]').val(),'key':bgmusicuploader.find('input[name=key]').val(),"configid":configid},//self.find('input[name=val]').val()
                    duplicate:true,
                    accept:{
                        mimeTypes:'audio/mp3,audio/mpeg3',
                    }
                });
                ctrl_uploader.on( 'fileQueued', function( file ) {
                    var audio=$('<img src="/assets/images/icons/music_file.png" style="width:300px;height:167px;"/>');
                    bgmusicuploader.find('.uploader-list .item').append(audio);
                });
                //加入队列前 先清空队列中的内容
                ctrl_uploader.on('beforeFileQueued',function(file){
                    this.reset();
                    bgmusicuploader.find('.uploader-list .item').html('');
                });
                ctrl_uploader.on('uploadSuccess',function(file,response){
                    alert(response.message);
                    admin_index.reloadTab('#lotterytheme',configid);
                });
                bgmusicuploader.find('.btn-upload').on('click',function(){
                    ctrl_uploader.upload();
                });
                bgmusicuploader.find('.btn-reset').on('click',function(){
                    bgmusicuploader.find('input[name=val]').val('');
                    bgmusicuploader.find('.uploader-list .item').html('<div class="btn-selectfile"><i class="fa fa-folder-open-o"></i>点击此处选择文件</div>');
                    ctrl_uploader.addButton({
                        'id':bgmusicuploader.find('.uploader-list .btn-selectfile'),
                    })
                    $.ajax({
                        'url':'module.php?m=importlottery&c=admin&a=ajaxSaveThemeConfigFile',
                        "data":{"val":bgmusicuploader.find('input[name=val]').val(),'key':bgmusicuploader.find('input[name=key]').val(),"configid":configid},
                        "type":"post",
                        "dataType":'json'
                    });
                });
                if(parseInt(settings.bgmusic)>0){
                    bgmusicuploader.find('.uploader-list .item').html('<audio controls="controls"    style="margin-top: 60px;"><source src="'+settings.bgmusic_path+'" type="audio/mpeg"> </source>您的浏览器不支持音乐播放，您可以下载这个谷歌浏览器， https://pan.baidu.com/s/1bp0MHFx，效果和性能会好一点哦</audio>');
                    bgmusicuploader.find('input[name=val]').val(settings.bgmusic);
                }
                // bgmusicuploader.find('.uploader-list .item')
            }
            function bindCtrls(){
                createImageUploader();
                createMusicUploader();
                $('#fontcolor').colorpicker({
                    format:"hex",
                    color:settings.fontcolor
                });
                $('#prizefontcolor').colorpicker({
                    format:"hex",
                    color:settings.prizefontcolor
                });
                $('#tabletitlecolor').colorpicker({
                    format:"hex",
                    color:settings.tabletitlecolor
                });
                $('#tabletitlefontcolor').colorpicker({
                    format:"hex",
                    color:settings.tabletitlefontcolor
                });
                $('#tablecolor').colorpicker({
                    format:"hex",
                    color:settings.tablecolor
                });
                $('#tablefontcolor').colorpicker({
                    format:"hex",
                    color:settings.tablefontcolor
                });
                if(settings.bgmusic_switch==1){
                    $('input[name=bgmusic_switch]').attr('checked',true);
                }                
            }
            return {
                'init':function(){
                    bindCtrls();
                    bindBtns();
                    setTimeout(function(){
                        var bgimg= bguploader.find('input[name=val]').val();
                        if(!bgimg){
                            bguploader.find('.btn-reset').trigger('click');
                        }
                        var music=bgmusicuploader.find('input[name=val]').val();
                        if(!music){
                            bgmusicuploader.find('.btn-reset').trigger('click');
                        }
                    },1000);
                }
            }
        };
        {/literal}
        </script>