<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>签到 - {$title}</title>
    <link rel="stylesheet" type="text/css" href="{$assets}/css/basic.css">
    <link rel="stylesheet" href="{$assets}/fonts/font_864467_uc9k8ie5j6/iconfont.css">
        <style>
    {literal}
    #show_hide_nav{width: 100%;position: fixed;bottom: -10px;text-align: center;z-index:9998}	
    .Panel.Top{z-index:1}
    {/literal}
    </style>
    <script src="{$assets}/js/tool.js" type="text/javascript" charset="utf-8"></script>
    <script src="{$assets}/js/jquery-2.0.3.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="{$assets}/js/jquery.hotkeys.min.js"></script>
  </head>
  <body>